<details id="details-basic-info-<%= character_sheet.id %>" class="group mb-6">
  <summary class="cursor-pointer flex justify-between items-center text-lg font-semibold bg-gradient-to-r from-blue-500 to-purple-600 text-white py-2 px-4 rounded-lg shadow-lg">
    Basic Information
  </summary>
  <div class="grid grid-cols-2 gap-6 mt-4 p-4 bg-gray-50 rounded-lg shadow-inner">
    <div><p><strong>Employer:</strong> <span class="text-gray-800"><%= character_sheet.employer %></span></p></div>
    <div><p><strong>Gender:</strong> <span class="text-gray-800"><%= character_sheet.gender %></span></p></div>
    <div><p><strong>Age:</strong> <span class="text-gray-800"><%= character_sheet.age %></span></p></div>
    <div><p><strong>Nationality:</strong> <span class="text-gray-800"><%= character_sheet.nationality %></span></p></div>
    <div><p><strong>Motivation:</strong> <span class="text-gray-800"><%= character_sheet.motivation %></span></p></div>
    <div><p><strong>Profession:</strong> <span class="text-gray-800"><%= character_sheet.profession %></span></p></div>
    <div><p><strong>Rank:</strong> <span class="text-gray-800"><%= character_sheet.rank %></span></p></div>
    <div><p><strong>Occupation History:</strong> <span class="text-gray-800"><%= character_sheet.occupation_history %></span></p></div>
  </div>
</details>
