<h2 class="text-3xl font-bold text-blue-600 mb-6 border-b-2 pb-2 border-gray-200">Character Sheets</h2>

<div class="mb-4">
  <!-- Collapsible Character Sheets Section -->
  <details class="group" open>
    <summary class="cursor-pointer flex justify-between items-center text-lg font-semibold bg-gradient-to-r from-blue-500 to-purple-600 text-white py-2 px-4 rounded-lg shadow-lg">
      Players Character Sheets
    </summary>
    <div class="mt-4">
      <%= render 'character_sheet_list', character_sheets: @character_sheets.where(kind: "player") %>
    </div>
  </details>
  </br>
  <details id="details-character-sheet-npcs-<%= current_user.id %>" class="group">
    <summary class="cursor-pointer flex justify-between items-center text-lg font-semibold bg-gradient-to-r from-yellow-400 to-yellow-600 text-white py-2 px-4 rounded-lg shadow-lg">
      NPC Character Sheets
    </summary>
    <div class="mt-4">
      <%= render 'character_sheet_list', character_sheets: @character_sheets.where(kind: "npc") %>
    </div>
  </details>

  <br>

  <!-- Add/Create Character Sheet Form -->
  <div class="bg-white shadow-md rounded-lg p-6 mt-4 mb-4 flex items-center space-x-4">
    <!-- Character Sheet Selection Form -->
    <%= form_with url: mission_add_character_sheet_to_path(@mission), method: :post, local: true, class: "flex items-center" do |form| %>
      <%= form.collection_select :character_sheet_id, CharacterSheet.where.not(id: @mission.character_sheets.pluck(:id)), :id, :name, prompt: "Choose a Character Sheet", class: "border border-gray-300 rounded p-2 mr-4" %>

      <%= button_tag type: 'submit', class: 'bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700' do %>
        Add Character Sheet to Mission
      <% end %>
    <% end %>

    <!-- Create New Character Sheet Button -->
    <%= link_to 'Create New Character Sheet', new_mission_character_sheet_path(@mission), class: 'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700' %>
  </div>

<!-- Handouts Section -->
<h2 class="text-3xl font-bold text-blue-600 mb-6 border-b-2 pb-2 border-gray-200">Handouts</h2>

<% if @mission.handouts.any? %>
  <details id="details-character-sheet-handouts-<%= character_sheet.id %>" class="group">
    <summary class="cursor-pointer flex justify-between items-center text-lg font-semibold bg-gradient-to-r from-blue-500 to-purple-600 text-white py-2 px-4 rounded-lg shadow-lg">
      Handouts
    </summary>
    <ul class="space-y-2 mt-4 p-4 bg-gray-50 rounded-lg shadow-inner">
      <% @mission.handouts.each do |handout| %>
        <li class="p-4 bg-white rounded-md shadow-sm flex justify-between items-center">
          <div>
            <h3 class="font-bold text-lg"><%= link_to handout.title, mission_handout_path(@mission, handout), class: "text-blue-600 hover:underline" %></h3>
          </div>
          <div>
            <%= button_to 'Remove', mission_remove_handout_from_path(@mission, handout), method: :delete, class: 'bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700' %>
          </div>
        </li>
      <% end %>
    </ul>
  </details>
<% else %>
  <p class="text-gray-600 italic">No handouts have been created for this mission yet.</p>
<% end %>

<!-- Add Handout Form -->
<div class="bg-white shadow-md rounded-lg p-6 mt-4 mb-4">
  <div class="flex justify-between items-center space-x-4">
    <!-- Create New Handout Button -->
    <div class="ml-auto">
      <%= link_to 'Create New Handout', new_mission_handout_path(@mission), class: 'bg-blue-500 text-white px-4 py-2 rounded inline-block hover:bg-blue-700' %>
    </div>

    <!-- Right-aligned Dropdown and Submit Button -->
    <div class="flex justify-end items-center space-x-4 w-full">
      <div class="flex-grow">
        <%= form_with url: mission_add_handout_to_path(@mission), method: :post, local: true do |form| %>
          <%= form.collection_select :handout_id, Handout.where.not(id: @mission.handouts.pluck(:id)), :id, :title, prompt: "Choose a Handout", class: "border border-gray-300 rounded w-full p-2" %>
        </div>

        <div>
          <%= button_tag type: 'submit', class: 'bg-green-500 px-4 py-2 rounded hover:bg-green-700' do %>
            Add Handout to Mission
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Sounds Section -->
<h2 class="text-3xl font-bold text-blue-600 mb-6 border-b-2 pb-2 border-gray-200">Sounds</h2>

<details id="details-character-sheet-sounds-<%= current_user.id %>" class="group">
  <summary class="cursor-pointer flex justify-between items-center text-lg font-semibold bg-gradient-to-r from-blue-500 to-purple-600 text-white py-2 px-4 rounded-lg shadow-lg">
    Sounds
  </summary>
  <div class="mt-4">
    <%= form_with url: mission_add_sound_to_path(@mission), method: :post, local: true do |form| %>
      <%= form.label :sound_id, "Select Sound", class: "block font-semibold mb-2" %>
      <%= form.collection_select :sound_id, Sound.all, :id, :title, prompt: "Choose a Sound", class: "border border-gray-300 rounded w-full p-2" %>

      <%= button_tag type: 'submit', class: 'bg-green-500 px-4 py-2 rounded hover:bg-green-700 mt-4' do %>
        Add Sound to Mission
      <% end %>
    <% end %>
  </div>

  <div id="sounds" class="space-y-2 mt-4 p-4 bg-gray-50 rounded-lg shadow-inner">
    <%= render partial: 'missions/sound', collection: @mission.sounds, as: :sound %>
  </div>
</details>
