<h2 class="text-2xl font-semibold mb-4 text-gray-700">Primary Stats</h2>
<div class="grid grid-cols-2 gap-4 mb-4 p-4 bg-gradient-to-b from-gray-50 to-gray-100 rounded-lg shadow-inner">
  <%= render "missions/inline_edit_attribute", character_sheet: character_sheet, attribute: :strength %>
  <%= render "missions/inline_edit_attribute", character_sheet: character_sheet, attribute: :constitution %>
  <%= render "missions/inline_edit_attribute", character_sheet: character_sheet, attribute: :dexterity %>
  <%= render "missions/inline_edit_attribute", character_sheet: character_sheet, attribute: :intelligence %>
  <%= render "missions/inline_edit_attribute", character_sheet: character_sheet, attribute: :power %>
  <%= render "missions/inline_edit_attribute", character_sheet: character_sheet, attribute: :charisma %>
</div>
