<h2 class="text-2xl font-semibold mb-4 text-gray-700">Secondary Stats</h2>
<div class="grid grid-cols-2 gap-4 mb-4 p-4 bg-gradient-to-b from-gray-50 to-gray-100 rounded-lg shadow-inner">
  <%= render "missions/inline_edit_attribute", character_sheet: character_sheet, attribute: :hit_points %>
  <%= render "missions/inline_edit_attribute", character_sheet: character_sheet, attribute: :willpower_points %>
  <%= render "missions/inline_edit_attribute", character_sheet: character_sheet, attribute: :sanity %>
  <%= render "missions/inline_edit_attribute", character_sheet: character_sheet, attribute: :breaking_point %>
  <%= render "missions/inline_edit_attribute", character_sheet: character_sheet, attribute: :luck %>
</div>
