<h1 class="text-3xl font-bold mb-4"><%= @mission.title %></h1>

<p class="mb-6"><%= @mission.description %></p>

<p class="mb-6">The game master for this mission is <%= @mission.game_master.username %></p>
<p class="mb-6">The players for this mission are <%= @mission.players.pluck(:username).join(", ") %></p>

<!-- Conditional Rendering of Views Based on User Role -->
<% if current_user == @mission.game_master %>
  <%= render 'game_master_view' %>
<% else %>
  <%= render 'player_view' %>
<% end %>

<%= link_to 'Back to Missions', missions_path, class: 'mt-4 block text-blue-500 hover:underline' %>
