<!DOCTYPE html>
<html>
  <head>
    <title>Grimoire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <nav class="bg-gray-800 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <div>
          <%= link_to 'Grimoire', root_path, class: 'text-white font-bold text-xl' %>
        </div>

        <div class="space-x-4">
          <%= link_to 'Missions', missions_path, class: 'text-gray-300 hover:text-white' %>
          <%= link_to 'Character Sheets', character_sheets_path, class: 'text-gray-300 hover:text-white' %>
        </div>

        <% if flash[:success] %>
          <div class="bg-green-500 text-white p-4 rounded mb-4">
            <%= flash[:success] %>
          </div>
        <% elsif flash[:error] %>
          <div class="bg-red-500 text-white p-4 rounded mb-4">
            <%= flash[:error] %>
          </div>
        <% end %>

        <div>
          <% if user_signed_in? %>
            <span class="text-gray-300 mr-4">Welcome, <%= current_user.username %></span>
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700' %>
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path, class: 'text-gray-300 hover:text-white' %>
            <%= link_to 'Log in', new_user_session_path, class: 'ml-4 text-gray-300 hover:text-white' %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container mx-auto mt-6">
      <%= yield %>
    </div>
  </body>
</html>
