<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Your existing CSS imports -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Load the JavaScript importmap before any other script -->
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <nav class="bg-gray-800 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <div class="space-x-4">
          <%= link_to 'Missions', missions_path, class: 'text-gray-300 hover:text-white' %>
          <%= link_to 'Character Sheets', character_sheets_path, class: 'text-gray-300 hover:text-white' %>

          <% if user_signed_in? %>
            <% if current_user.game_master? %>
              <!-- Dropdown Menu with Stimulus -->
              <div data-controller="dropdown" class="relative inline-block text-left">
                <button type="button" data-action="click->dropdown#toggle" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-gray-800 text-sm font-medium text-gray-300 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                  Manage
                  <!-- Icon for dropdown -->
                  <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>

                <!-- Dropdown Items -->
                <div data-dropdown-target="menu" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                  <div class="py-1" role="none">
                    <%= link_to 'Skills', skills_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
                    <%= link_to 'Items', items_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
                    <%= link_to 'Weapons', weapons_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
                    <%= link_to 'Conditons', conditions_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <div>
          <% if user_signed_in? %>
            <span class="text-gray-300 mr-4"><%= current_user.username %></span>
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700' %>
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path, class: 'text-gray-300 hover:text-white' %>
            <%= link_to 'Log in', new_user_session_path, class: 'ml-4 text-gray-300 hover:text-white' %>
          <% end %>
        </div>
      </div>
    </nav>

    <!-- Main container with left padding to account for the sidebar -->
    <div class="ml-64 mt-6"> <!-- 64 is equal to the width of the sidebar (w-60 + padding) -->
      <% if flash[:success] %>
        <div class="bg-green-500 text-white p-4 rounded mb-4">
          <%= flash[:success] %>
        </div>
      <% elsif flash[:error] %>
        <div class="bg-red-500 text-white p-4 rounded mb-4">
          <%= flash[:error] %>
        </div>
      <% end %>

      <%= yield %> <!-- This is where your main content will appear -->
    </div>

    <!-- Sidebar on the left -->
    <%= render 'shared/sidebar' %>
  </body>
</html>
